body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #1e90ff;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.counter-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter-buttons button:hover {
  background-color: #1e90ff;
}

.color-picker {
  text-align: center;
  margin-top: 20px;
}
.color-picker input {
  margin: 20px;
  padding: 10px;
}
.color-picker div {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 1px solid #ccc;
}
